<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title align = "center">
      Turismo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="floating">Buscar</ion-label>
    <ion-input type="text" [(ngModel)]="search" (keyup)="filter()"></ion-input>
  </ion-item>
  <div *ngFor="let place of places; index as i">
    <ion-card>  
        <img src="{{place.image}}">
        <ion-card-header>
          <ion-card-subtitle>{{place.subtitle}}</ion-card-subtitle>
          <ion-card-title>{{place.title}}</ion-card-title>
            {{place.description}}    
            <ion-chip color="success" *ngIf="place.active" (click)="changeStatus(i)">
              <ion-label>Activo</ion-label>
            </ion-chip>
            <ion-chip color="danger" *ngIf="!place.active" (click)="changeStatus(i)">
              <ion-label>Inactivo</ion-label>
            </ion-chip> 

            <ion-button color="danger" (click)="deletePlace(i)">Eliminar</ion-button>
        </ion-card-header>
    </ion-card>
  </div>
</ion-content>
